# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Copyright 2019 Adobe Systems Incorporated
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

name: Release

# Run workflow on commits to default branch
on:
  push:
    branches:
      - development

jobs:
  release:
    runs-on: ubuntu-18.04
    steps:
      # Check out Git repository
      - uses: actions/checkout@v1

      # Set up environment with Java and Maven
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      # Import GPG key from env variable into keychain
      - name: Import GPG key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: echo ${GPG_PRIVATE_KEY} | base64 --decode | gpg --batch --import

      # Deploy to OSSRH, which will automatically release to Central Repository
      - name: Release to Central Repository
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: mvn clean deploy -Pdeploy -s ./.github/settings.xml
